mat-sidenav {
  background-color: #e1dfdd;
  color: #141414;
  padding: 16px;
  width: 200px;
}

mat-sidenav-content {
  margin: 0 auto;
  padding: 20px;
}

.body-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
}
