.spacer {
  flex: 1 1 auto;
}

.icon {
  padding: 0 14px;
}

.home-link span {
  color: white;
}

.github-link,
.home-link {
  text-shadow: 1px 1px 10px black;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: lightgray;
  transition: 0.3s ease-out;

  &:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in;
  }
}
