html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar > div {
  margin-bottom: 20px;
  background-color: #0d860d !important;
  white-space: pre-wrap;

  & button {
    color: white !important;
  }
}

.error-snackbar > div {
  background-color: red !important;
  white-space: pre-wrap;
}
