.icon-display {
  transform: scale(2);
  vertical-align: 5px;
  margin-right: 10px;
}

.content-container {
  max-width: 100%;
  padding: 0 20px;
}

.edit-btn {
  width: 100%;
}

.material-icons-add {
  margin-right: 10px;
}

.field-width {
  width: 100%;
}

table {
  width: 100%;
}

table tr td {
  font-size: 12px;
}

th.mat-header-cell {
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

td {
  text-align: center;

  & .mat-cell {
    font-size: 12px;
  }
}

.actions {
  text-align: center;
}

.action-buttons button {
  margin-right: 8px;

  & .material-icons {
    margin: 0;
  }
}

::ng-deep .mat-sort-header-container {
  justify-content: center;
}

::ng-deep .mat-sort-header-content {
  margin-left: 14px;
}

.mat-mdc-header-row,
.mat-mdc-paginator {
  background-color: rgba($color: #000000, $alpha: 0.015);
}
