<div class="content-container">
  <p class="h1"><mat-icon class="icon-display">paid</mat-icon> Sales</p>

  <hr />

  <div class="mat-elevation-z8 mt-2">
    <table
      mat-table
      [dataSource]="this.dataSource"
      matSort
      #sort="matSort"
      (matSortChange)="sortChange($event)"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td class="col-1" mat-cell *matCellDef="let item">
          {{ item.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td class="col-2" mat-cell *matCellDef="let item">
          {{ item.price | currency : "BRL" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="vehicleChassisNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vehicle</th>
        <td class="col-2" mat-cell *matCellDef="let item">
          {{ item.vehicleChassisNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sellerId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Seller</th>
        <td class="col-2" mat-cell *matCellDef="let item">
          {{ item.sellerId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="actions" mat-header-cell *matHeaderCellDef>Actions</th>
        <td class="col-1 action-buttons" mat-cell *matCellDef="let item">
          <button
            mat-raised-button
            color="primary"
            class="btn btn-primary"
            matTooltip="Edit"
          >
            <mat-icon class="material-icons">edit</mat-icon>
          </button>

          <button
            mat-raised-button
            color="warn"
            class="btn btn-primary"
            matTooltip="Delete"
          >
            <mat-icon class="material-icons">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="this.displayedColumns; sticky: true"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: this.displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="3">Results not found</td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
