<mat-nav-list>
  <a mat-list-item routerLink="/accessory">
    <mat-icon class="material-icons tab-icon">construction</mat-icon>
    <span class="tab-text">Accessories</span>
  </a>
</mat-nav-list>

<mat-divider></mat-divider>

<mat-nav-list>
  <a mat-list-item routerLink="/owner">
    <mat-icon class="material-icons tab-icon">person</mat-icon>
    <span class="tab-text">Owners</span>
  </a>
</mat-nav-list>

<mat-divider></mat-divider>

<mat-nav-list>
  <a mat-list-item routerLink="/phone">
    <mat-icon class="material-icons tab-icon">call</mat-icon>
    <span class="tab-text">Phones</span>
  </a>
</mat-nav-list>

<mat-divider></mat-divider>

<mat-nav-list>
  <a mat-list-item routerLink="/sale">
    <mat-icon class="material-icons tab-icon">paid</mat-icon>
    <span class="tab-text">Sales</span>
  </a>
</mat-nav-list>

<mat-divider></mat-divider>

<mat-nav-list>
  <a mat-list-item routerLink="/seller">
    <mat-icon class="material-icons tab-icon">group</mat-icon>
    <span class="tab-text">Sellers</span>
  </a>
</mat-nav-list>

<mat-divider></mat-divider>

<mat-nav-list>
  <a mat-list-item routerLink="/vehicle">
    <mat-icon class="material-icons tab-icon">directions_car</mat-icon>
    <span class="tab-text">Vehicles</span>
  </a>
</mat-nav-list>
